.main {
  max-width: 984px;
  margin: 0 auto;
  
}

@media screen (max-width: 1279px) {
  .main {
    max-width: 928px;
  }
}

@media screen (max-width: 1023px) {
  .main {
    max-width: 720px;
  }
}

@media screen (max-width: 767px) {
  .main {
    max-width: 288px;
  }
}