.cover__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 32px;
}

@media (max-width:767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
  }
}